@import url("https://fonts.googleapis.com/css2?family=Meddon&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: 0.8ms;
}
body {
  font-family: "Montserrat", sans-serif;
}
/* Navbar Styles Starts */
.logo h1 {
  font-family: "Meddon", cursive;
  font-weight: bold;
  font-size: 40px;
  color: #ff1e1e;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
  align-items: center;
}
nav ul li {
  list-style: none;
  float: left;
  margin-left: 30px;
}
nav ul li a {
  color: #fba24f;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}
nav ul li a:hover {
  color: #ff1e1e;
}
/* Navbar Styles Ends */

/* Hero Section Styles Starts */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px;
}
.hero-content,
.hero-image {
  width: 40%;
}
.hero-content h1 {
  font-size: 50px;
}
.hero-content span {
  color: #fba24f;
}
.hero-content p {
  letter-spacing: 2px;
  margin: 20px 0;
}
.main-btn {
  padding: 20px 32px;
  background: linear-gradient(88.33deg, #fba24f -7.64%, #ff1e1e 145.94%);
  box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
  border-radius: 100px;
  border: none;
}
.main-btn a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 18px;
}
.hero-image img {
  width: 100%;
}
/* Hero Section Styles Ends */

/* About Section Styles Starts */
.about-section {
  margin: 100px 0;
  background-image: url(../images/shapes/bg-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about {
  margin: 0 100px;
  padding: 100px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-image,
.about-content {
  width: 40%;
}
.about-content p {
  letter-spacing: 2px;
  line-height: 1.7;
  margin: 30px 0;
}
.about-content h1 {
  font-size: 40px;
  font-weight: bold;
}
.about-image img {
  width: 80%;
}
/* About Section Styles Ends */

/* Recipe Section Styles Starts */
.recipe-intro {
  text-align: center;
  margin-bottom: 100px;
}
.recipe-intro h1 {
  font-size: 36px;
  font-weight: bold;
}
.recipe-intro p {
  margin-top: 40px;
  letter-spacing: 2px;
  line-height: 1.6;
}
.recipe {
  margin: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recipe h3 {
  font-weight: bold;
  margin-top: 20px;
}
.recipe p {
  margin: 20px 0;
  letter-spacing: 2px;
  line-height: 1.7;
}
.recipe-left,
.recipe-right {
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 15px;
}
.recipe-left img,
.recipe-right img {
  width: 100%;
}
/* Recipe Section Styles Ends */

/* Social Section Styles Starts */
.social-section {
  margin: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 80px 0;
  border-radius: 15px;
}
.social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social h1 {
  font-size: 50px;
}
.social p {
  margin-top: 10px;
  letter-spacing: 2px;
}
/* Social Section Styles Ends */

/* Footer Section Styles Starts */
footer {
  background-color: black;
  text-align: center;
  padding: 70px;
}
footer span {
  color: #fba24f;
}
footer h1 {
  color: #5b5b5b;
  font-weight: 700;
}
footer p {
  margin-top: 20px;
  color: #ffffff;
}
/* Footer Section Styles Ends */
